@font-face {
    font-family: 'Arimo';
    src: url("../fonts/arimo/arimobold.ttf");
}
body {
    margin: 0;
    padding: 0;
}

table,tr,th,td{
    padding: 0;
}
tr,th,td{
    border-left:1px solid rgba(128,128,128,0.2);
}

table {
    border: 25px solid  #3a4965;
    border-collapse: collapse;
    width: 1192px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Arimo', Courier, sans-serif;
}
div{
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(odd){background-color: #e3e3e3; }
tr:nth-child(even){background-color: #f2f2f2; }
tr:nth-child(-n+2){background-color: #fafafa; }
tr:nth-last-child {background-color: lightgrey;}

.mainCell {
    width: 310px;
    height: 156px;
    background-color: #fafafa;
}

.choose{
    font-size: 18px;
    color: #484848;
    text-transform: uppercase;
}
.plan {
    font-size: 30px;
    color: #484848;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.tariff{
    width: 277px;
    height: 70px;
    font-size: 24px;
    color: #fff;
}
.standard {
    background-color: #89c331;

}
.ultimate {
    background-color: #f04a56;
}
.premium {
    background-color: #20807c;
}
.price {
    position: relative;
    line-height: 86px;
}
.dollar{
    position: absolute;
    top: 0;
    left: 33px;
    font-size: 60px;
    color: #484848;
}
.cent {
    position: absolute;
    top: -11px;
    left: 133px;
    font-size: 24px;
    color: #484848;
}
.period {
    position: absolute;
    top: 12px;
    left:138px;
    font-size: 18px;
    color: #484848;
}
i.fa {
    font-size: 24px;
    display: table-cell;
    padding-right: 10px;
}
.services {
    display: table;
    line-height: 69px;
    margin: 0 auto;
}
.bottomRow {
    height: 110px;
}
.contactUs{
    background-color:#484848;
}

.button {
    width: 192px;
    height: 49px;
    margin: 0 auto;
    border-radius: 4px;
    border-bottom: 6px solid;
    border-color: rgba(0,0,0,0.1);
    box-sizing:border-box;
}
.button>a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 49px;
}
.button:hover>a {
    background: #808080;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
